@import '/src/styles/mixins.scss';

.Admin {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	flex-direction: column;
	user-select: none;

	.ItemLink {
		background-color: var(--bs-primary);
		color: var(--bs-white);
		padding: 10px 20px;
		border-radius: 5px;
		text-decoration: none;
		font-size: var(--bs-font-medium);
		font-weight: 600;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: var(--bs-primary-hover);
		}
	}
}
