@import '/src/styles/mixins.scss';

.RecoveryForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 35px;
	max-width: 500px;
	border: 1px solid gray;
	padding: 20px;
	border-radius: var(--bs-radius-medium);

	.Margins {
		margin-bottom: 10px;
	}
}
