@import '/src/styles/mixins.scss';

.FiltersForm {
	.Selector {
		width: 100%;
	}

	.Footer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;

		.Button {
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.ButtonWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		@include devices(mobile, tablet) {
			justify-content: flex-end;
		}

		.Button {
			border: none !important;
			width: 100%;

			@include devices(mobile, tablet) {
				width: unset;
			}
		}
	}
}
