@import '/src/styles/mixins.scss';

.FiltersForm {
	& select {
		width: 100%;
	}

	& label {
		font-size: var(--bs-font-large);
		color: var(--bs-primary);
	}

	.Footer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;

		.Button {
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.ButtonWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		@include devices(mobile, tablet) {
			justify-content: flex-end;
		}

		.Button {
			border: none !important;
			width: 100%;
			color: var(--bs-primary);
			background-color: white;

			&:hover {
				background-color: var(--bs-primary);
				color: white;
			}

			@include devices(mobile, tablet) {
				width: unset;
			}
		}
	}
}
