@import '/src/styles/mixins.scss';

.SearchAddressForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 1px solid var(--bs-gray-400);
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;

	label {
		margin-left: 10px;
		white-space: nowrap;
	}

	[id='-google-places-suggestions-container'] {
		background-color: white;
		cursor: pointer;
	}

	[id='react-google-places-autocomplete-input'] {
		width: 100% !important;
		border-radius: var(--bs-radius-medium);
		border: 1px solid var(--bs-gray-400);
		padding: 5px 10px;

		&:focus {
			box-shadow: 0 0 0 0.15rem #6340a680;
			border: 1px solid #b3a1c1;
			border-radius: var(--bs-radius-medium);
		}

		&:focus-visible {
			outline: #b3a1c1;
		}
	}

	[id^='-google-places-autocomplete-suggestion']:hover {
		background-color: var(--bs-primary-hover) !important;
	}

	.LatLngWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;

		.Label {
			font-size: var(--bs-font-large);
			font-weight: 700;
		}
	}

	.Address {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
		margin-bottom: 30px;
	}
}
