@import '/src/styles/mixins';

.Modal {
	user-select: none;

	[class~='modal-content'] {
		border-radius: var(--bs-radius-large);
		padding: 10px;
		overflow: auto;
	}

	[class~='modal-body'] {
		align-items: center !important;
	}

	&::-webkit-scrollbar {
		display: none !important;
	}

	.Header {
		gap: 25px;
		display: flex;
		border-bottom: 0px;
		justify-content: space-between;
		font-weight: bold;

		&.Empty {
			justify-content: flex-end;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-align: center;
			width: 100%;
			margin-bottom: 0px;
		}

		.CloseIcon {
			width: 25px;
			height: 25px;
		}

		svg {
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}

	.LoaderContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.Loader {
			font-size: 4px;
		}
	}

	.Body {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		overflow: auto;
	}

	.Footer {
		border-top: 0px;
		justify-content: center;
		flex-direction: row;

		Button {
			flex: 1;
		}
	}

	&.UpEffect {
		@include slide-up-animation();
	}
	&.CloseUpEffect {
		@include slide-up-close-animation();
	}
	&.DownEffect {
		@include slide-down-animation();
	}
	&.CloseDownEffect {
		@include slide-down-close-animation();
	}
}

.Backdrop {
	opacity: 0.85;
}
