@import '/src/styles/mixins.scss';

.FileDelete {
	.DeleteButton {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		border-radius: 100% !important;
		width: 20px !important;
		height: 20px !important;
	}

	.Loader {
		font-size: 3px;
	}
}
