@import '/src/styles/mixins.scss';

.Images {
	background-color: rgb(238, 218, 40);
	padding: 20px;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	min-height: 100vh;

	.ImagesWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;

		.Image {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			max-width: 90vw;
		}
	}

	.Container {
		height: 250px;
		width: 500px;
		background-color: rgba(217, 1, 1, 0.571);
	}
}
