@import '/src/styles/mixins.scss';

.Users {
	padding: 50px 20px 20px 20px;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	flex-direction: column;
	gap: 25px;
	user-select: none;

	.HeaderWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.NewUserButton {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		width: 50px;
		height: 50px;
	}

	.Actions {
		display: flex;
		gap: 15px;

		.ButtonActions {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
