@import '/src/styles/mixins.scss';

.FileUpload {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border-radius: 100% !important;
	background: var(--bs-primary) !important;
	width: 35px !important;
	height: 35px !important;

	.Loader {
		font-size: 2px;
	}
}
