@import '/src/styles/mixins.scss';

.NavigationBar {
	.ButtonMenu {
		border: none;
		box-shadow: none;

		&:focus {
			outline: none;
			border: none;
		}

		&:hover {
			border: none;
			outline: none;
			box-shadow: none;
		}

		&:active {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}

	.Offcanvas {
		width: 200px !important;
	}

	.Logo {
		width: 200px;
		height: 50px;
	}

	.Language {
		width: 25px;
		height: 25px;
	}
}

[class~='offcanvas-start'] {
	width: 300px !important;

	[class~='offcanvas-title'] {
		display: flex;
		align-items: center;
	}

	.LoginWrapper {
		gap: 10px;
	}

	.LogoMobile {
		width: 200px;
		height: 50px;
	}
}
