.Slider {
	width: 100%;

	[class*='slick-list'] {
		width: inherit;
		height: inherit;

		div {
			width: inherit;
			height: inherit;
		}
	}
}

.NextArrow {
	right: 15px;
	z-index: 1;
	display: block;
}

.PrevArrow {
	left: 15px;
	z-index: 1;
	display: block;
}
