@import '/src/styles/mixins.scss';

.FileSorteableList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.FileInput {
	}

	.FileList {
		border: 0px;
		width: 100%;

		.NewProductPhotosInfoWrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 15px;
			font-size: var(--bs-font-small);
			border: 0px;

			.NewProductArrows {
				cursor: pointer;
			}

			.EditProductArrows {
				cursor: pointer;
			}
		}

		.NewProductDeleteItem {
			margin-left: 10px;
			cursor: pointer;
			width: 20px;
			height: 20px;
		}
	}
}

.Border {
	border: 1px solid var(--bs-gray-400);
	border-radius: var(--bs-radius-medium);
	padding: 10px;
}
