@import '/src/styles/mixins.scss';

.VideoUpload {
	margin-bottom: 10px;

	.Button {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		border-radius: 100% !important;
		background: var(--bs-primary) !important;
		width: 35px !important;
		height: 35px !important;

		.Loader {
			font-size: 2px;
		}
	}

	.FileList {
		border: 0px;
		width: 100%;

		.NewProductPhotosInfoWrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 15px;
			font-size: var(--bs-font-small);
			border: 0px;

			.NewProductArrows {
				cursor: pointer;
			}

			.EditProductArrows {
				cursor: pointer;
			}
		}

		.NewProductDeleteItem {
			margin-left: 10px;
			cursor: pointer;
			width: 20px;
			height: 20px;
		}

		.FileDelete {
			width: 20px;
			height: 20px;
		}
	}
}

.Border {
	border: 1px solid var(--bs-gray-400);
	border-radius: var(--bs-radius-medium);
	padding: 10px;
}
