@import '/src/styles/mixins.scss';

.HomeMarker {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}
